<h2>Add a Pet Finding:</h2>
<br />

<form>
  <div class="form-group">
    <label for="date">Date:</label>
    {{input name="date" value=name type="text" placeholder="Date" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    {{input name="address" value=age type="text" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="time">Time:</label>
    {{input name="time" value=time type="text" class="form-control"}}
  </div>
  <button class="btn btn-default" {{action 'createFinding'}}>Submit</button>
</form>
