<h2>Pets</h2>

{{#each}}
  <div class="col-md-3 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="panel-title"><small>{{link-to name 'pets.show' this}}</small></p>
      </div>
      <div class="panel-body">
        {{#link-to 'pets.show' this}}
          <img {{ bind-attr src = picture }} class="pet-icons" alt="pets">
        {{/link-to}}
      </div>
    </div>
  </div>
{{/each}}
